body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0;
    /* display: flex; */
}

.table {
    display: flex;
    align-items: center;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    background-color: forestgreen;
}

.score-board {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.hands {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.place-bet {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: black;
    text-align: center;

}

.game-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.display-message {
 margin-top: 20px;
 color: red;
 text-align: center;
 opacity: 0;
 transition: opacity 0.5s;
 font-weight: bold;
}

/* Animation for sliding */
@keyframes slideIn {
    0% {
        transform: translateY(-50px); /* Start above the screen */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateX(-50%); /* End at original position */
        opacity: 1; /* End visible */
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0); /* Start at original position */
        opacity: 1; /* Start visible */
    }
    100% {
        transform: translateX(-50%); /* End above the screen */
        opacity: 0; /* End invisible */
    }
}